%h3 Login
%a{:href=>"http://#{settings.domain}/auth/facebook"} Login with facebook
%br
%a{:href=>"http://#{settings.domain}/auth/twitter"} Login with Twitter
%br
Or login below with a username and password.
- if flash[:error]
  #login_error.alert.alert-error
    ="There was an error: #{flash[:error]}"
.well.well-small
  %form{ :action => "/login", :method => "post"}
    %fieldset
      %label{:for => :username} Username
      %input{:type => "text", :name => :username, :class => "input-xlarge"}
      %label{:for => :password} Password
      %input{:type => "password", :name => :password, :class => "input-xlarge"}
    %input{:type => "submit", :value => "Sign in", :class => "button"}
%h5
New User? You can
%a{:href => "/signup"} sign up for a free account here.

